[submodule "docs"]
	path = docs
	url = https://github.com/codinasion/.github
[submodule "scripts"]
	path = scripts
	url = https://github.com/codinasion/scripts
[submodule "backend"]
	path = backend
	url = https://github.com/codinasion/backend
[submodule "web/src/app/(Sponsor Only)"]
	path = web/src/app/(Sponsor Only)
	url = https://github.com/codinasion/sponsor-only
