asgiref==3.8.1
black==24.8.0
click==8.1.7
colorama==0.4.6
cssbeautifier==1.15.1
Django==5.1
django-cleanup==8.1.0
djangorestframework==3.15.2
djlint==1.34.1
EditorConfig==0.12.4
gevent==24.2.1
greenlet==3.0.3
gunicorn==23.0.0
html-tag-names==0.1.2
html-void-elements==0.1.0
jsbeautifier==1.15.1
json5==0.9.25
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
platformdirs==4.2.2
psycopg2-binary==2.9.9
python-dotenv==1.0.1
PyYAML==6.0.2
regex==2023.12.25
setuptools==72.1.0
six==1.16.0
sqlparse==0.5.1
tqdm==4.66.5
wheel==0.44.0
zope.event==5.0
zope.interface==7.0.1
