{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="apple-touch-icon"
              sizes="180x180"
              href="https://public.codinasion.org/apple-touch-icon.png" />
        <link rel="icon"
              type="image/x-icon"
              href="https://public.codinasion.org/favicon.ico" />
        <link rel="icon"
              type="image/png"
              sizes="32x32"
              href="https://public.codinasion.org/favicon-32x32.png" />
        <link rel="icon"
              type="image/png"
              sizes="16x16"
              href="https://public.codinasion.org/favicon-16x16.png" />
        <link rel="manifest" href="https://public.codinasion.org/site.webmanifest" />
        <link rel="mask-icon"
              href="https://public.codinasion.org/safari-pinned-tab.svg"
              color="#5bbad5" />
        <meta name="apple-mobile-web-app-title" content="Codinasion" />
        <meta name="application-name" content="Codinasion" />
        <meta name="msapplication-TileColor" content="#000000" />
        <meta name="theme-color" content="#ffffff" />
        {% block meta_title %}
            <title>Codinasion</title>
        {% endblock meta_title %}
        {% block meta_description %}
            <meta name="description"
                  content="Collaborate, Create, Innovate : Together with Open Source ❤️" />
        {% endblock meta_description %}
        {% block meta_keywords %}
            <meta name="keywords" content="codinasion, open source" />
        {% endblock meta_keywords %}
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    </head>
    <body>
        {% include "partials/navbar.html" %}
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        {% include "partials/footer.html" %}
    </body>
</html>
