name: Auto Create Issue
on:
  workflow_dispatch:

jobs:
  auto_create_issue:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.PAT }}

      - name: Cache Node Modules
        id: cache-node-modules
        uses: actions/cache@v2
        with:
          path: node_modules
          key: node-modules-${{ hashFiles('yarn.lock') }}

      - name: Yarn
        if: steps.cache-node-modules.outputs.cache-hit != 'true'
        run: |
          yarn

      - name: Create Issue
        uses: ./action/
        with:
          AUTO_CREATE_ISSUE: true
          TOKEN: ${{ secrets.PAT }}

      - name: Commit Program Data
        uses: EndBug/add-and-commit@v9
        with:
          add: "data/programs.json"
          fetch: true
          message: "auto create issue"

      - name: Commit README
        uses: EndBug/add-and-commit@v9
        with:
          add: "program"
          fetch: true
          message: "add README.md"
