name: Tweet Trending Repos Data

on:
  schedule:
    - cron: "17 19 * * *"
  workflow_dispatch:
    inputs:
      TEST:
        description: "This is a test ?"
        required: true
        type: boolean
        default: false

jobs:
  tweet-trending-repos-data:
    name: Tweet Trending Repos Data

    runs-on: "ubuntu-latest"

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4

      - name: Tweet Trending Repos Data
        id: tweet-trending-repos-data
        uses: ./action/
        with:
          TEST: ${{ inputs.TEST || 'false' }}

          # Trigger
          TRIGGER_TWEET_TRENDING_REPOS_DATA: true

          # Secrets
          GITHUB_TOKEN: ${{ secrets.CODINASION_GITHUB_TOKEN }}
          TWITTER_APP_KEY: ${{ secrets.TWITTER_APP_KEY }}
          TWITTER_APP_SECRET: ${{ secrets.TWITTER_APP_SECRET }}
          TWITTER_ACCESS_TOKEN: ${{ secrets.TWITTER_ACCESS_TOKEN }}
          TWITTER_ACCESS_SECRET: ${{ secrets.TWITTER_ACCESS_SECRET }}
